@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* 100% - navbar - footer */
main {
  min-height: calc(100vh - 75px - 75px);
}

.custom-container-center {
  display: flex;
  align-items: center;
  justify-content: center;
  /* 100% - navbar - footer - py-3 */
  height: calc(100vh - 74px - 75px - 24px);
}

.custom-container-center-placeorder {
  min-height: calc(100vh - 74px - 75px - 24px);
}

@media (max-width: 959px) {
  main {
    min-height: calc(100vh - 58px - 75px);
  }
  .custom-container-center {
    height: calc(100vh - 58px - 75px - 24px);
  }
  .custom-container-center-placeorder {
    min-height: calc(100vh - 58px - 125px - 24px);
  }
}

@media (max-width: 612px) {
  main {
    min-height: calc(100vh - 58px - 125px);
  }
  .custom-container-center {
    height: calc(100vh - 58px - 125px - 24px);
  }

  .custom-container-center-placeorder {
    min-height: calc(100vh - 58px - 125px - 24px);
  }
}

.rating svg {
  color: #f8e825;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}

@media (min-width: 2000px) {
  .container {
    max-width: 2000px;
  }
}

#root
  > main
  > div
  > div
  > div.grid.sm\:grid-cols-1.lg\:grid-cols-2.gap-4.mt-4
  > div:nth-child(2)
  > div.relative.w-full.min-w-\[200px\].h-11
  > label {
  font-size: 1rem;
}

.custom-limit-width > div {
  min-width: 80px;
}

.custom-limit-width > div > button > div {
  color: white;
}

.custom-margin-message > div:nth-child(2) {
  margin-right: 0px;
}

.dark\:my-custom-style:where(.dark, .dark *) + label {
  color: white;
}

.light\:my-custom-style:where(.light, .light *) + label {
  color: black;
}

.custom-height-orderpage {
  height: calc(100vh - 120px);
}

.select-container {
  position: relative;
  width: 100%;
}

.custom-select-product-details {
  width: 100%;
  padding: 0.4rem 1rem;
  font-size: 1rem;
  border-radius: 0.375rem; /* 6px */
  border: 1px solid #e5e7eb;
  background-color: #efefef;
  appearance: none;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.custom-select-product-details:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2);
}

.select-arrow {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  pointer-events: none;
}

.custom-textarea-label + label {
}
