@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* 100% - navbar - footer */
main {
  min-height: calc(100vh - 75px - 75px);
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* 100% - navbar - footer - py-3 */
  height: calc(100vh - 74px - 75px - 24px);
}

@media (max-width: 959px) {
  main {
    min-height: calc(100vh - 58px - 75px);
  }
  .loader-container {
    height: calc(100vh - 58px - 75px - 24px);
  }
}

@media (max-width: 612px) {
  main {
    min-height: calc(100vh - 58px - 125px);
  }
  .loader-container {
    height: calc(100vh - 58px - 125px - 24px);
  }
}

.rating svg {
  color: #f8e825;
}

.rating-text {
  font-size: 1rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 2.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-description {
  height: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}

@media (min-width: 2000px) {
  .container {
    max-width: 2000px;
  }
}

#root
  > main
  > div
  > div
  > div.grid.sm\:grid-cols-1.lg\:grid-cols-2.gap-4.mt-4
  > div:nth-child(2)
  > div.relative.w-full.min-w-\[200px\].h-11
  > label {
  font-size: 1rem;
}

.custom-limit-width > div {
  min-width: 80px;
}

.custom-margin-message > div:nth-child(2) {
  margin-right: 0px;
}
